{% include "header.html" %}
<div style="background-color: #009FBD">
<div class="container col-10 pt-5">
    <div class="row flex-lg-row align-items-center g-5 py-4">
      <div class=" col-md-12 col-lg-8 text-left px-5">
        <h1 class="display-5 fw-bold lh-1 mb-1 "
            style="text-shadow: 5px 5px 5px #4A249D; color: #F9E2AF"
        >Samuel Dukes</h1>
        <p class="lead">Hello and welcome to my portfolio! I am an emerging
            <span class="lead" style="color: #F9E2AF">self-taught developer</span>
            hoping to catch your eye with some fun and interesting projects.</p>
      </div>
      <div class="col-10 col-lg-4">
        <img src="static/img/Portfolio Logo.png" class="d-block img-fluid"
             alt="Cartoon Face on white background"
             width="700" loading="lazy">
      </div>
    </div>
</div>
<div class="container col-10 align-items-center">
    <div class="col d-flex flex-wrap justify-content-center align-content-center">
        <img class="border rounded p-2 my-2 mx-4"
         src="static/img/Python.png"
         alt="Python logo"
         height="50">
        <img class="border rounded p-2 my-2 mx-4"
         src="static/img/bootstrap.png"
         alt="Bootstrap logo"
         height="50">
        <img class="border rounded p-2 my-2 mx-4"
           src="static/img/Flask.png"
           alt="Python logo"
           height="50">
        <img class="border rounded p-2 my-2 mx-4"
         src="static/img/github.png"
         alt="Python logo"
         height="50">
        <img class="border rounded p-2 my-2 mx-4"
         src="static/img/HTML5.png"
         alt="Python logo"
         height="50">
        <img class="border rounded p-2 my-2 mx-4"
         src="static/img/Selenium_Logo.png"
         alt="Python logo"
         height="50">
        <img class="border rounded p-2 my-2 mx-4"
         src="static/img/SQL.png"
         alt="Python logo"
         height="50">
        <img class="border rounded p-2 my-2 mx-4"
         src=" static/img/Twilio.png"
         alt="Python logo"
         height="50">
    </div>
</div>
<div class="container m-5 p-5">
    <h2>About Me</h2>
    <p>Thanks for visiting my portfolio, I'm still new on the developer scene, having just gone through the 100 days
    of code course by Angela Yu. My goals are to make connections with talented people and create some interesting
        projects. </p>
</div>
</div>
{% include "footer.html" %}