{% include "header.html" %}
<div class="container morse">
    <header class="d-flex flex-wrap justify-content-center pt-3 pb-1">
      <a href="/" class="d-flex align-items-center
      mt-1 mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4" style="color: #3D2C1E"></span>
      </a>
      <ul class="nav nav-pills" style="position: relative">
          <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link active" aria-current="page"
                                  style="color: #3D2C1E;">Return to Home</a></li>
      </ul>
    </header>
</div>

<div class="container morse">
  <h1>Morse Converter</h1>
    <p>When typing in Morse, please separate the characters by spaces, and spaces between words by a forward slash.</p>
    <p>"hello there" = .... . .-.. .-.. --- / - .... . .-. .</p>
</div>

<div class="container morse">
  <form class="form-style" method="post">
      <label>Text to Convert</label>
      <div>
          {% if placeholder %}
          <textarea class="form-control" placeholder="{{ placeholder }}" id="placeholder" rows="3"
                    name="to_convert"></textarea>
          {% endif%}
          {% if to_convert %}
          <textarea class="form-control" placeholder="{{ placeholder }}" id="to_convert" rows="3"
                    name="to_convert">{{ to_convert }}</textarea>
          {% endif %}
          <div>
              <br>
              <input class="form-control" type="submit" value="Ok">
              <br>
          </div>
      </div>
      <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p style="color: red">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      </div>
      <br>
      <div>
          <label>Converted Text</label>

          <textarea class="form-control" id="textarea-morse" rows="3" readonly>{{ converted_string }}</textarea>

      </div>
  </form>
</div>
<!--Footer-->
{% include "footer.html" %}