{% include 'header.html' %}

<div class="container">
  <header class="d-flex flex-wrap justify-content-center pt-3 pb-1">
    <a href="/" class="d-flex align-items-center
    mt-1 mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4" style="color: #F6F5F5"></span>
    </a>
    <ul class="nav nav-pills" style="position: relative">
      <li class="nav-item"><a href="{{ url_for('index') }}" class="nav-link" aria-current="page"
                                style="color: #F9E2AF;">Home</a></li>
      <li class="nav-item"><a href="{{ url_for('projects') }}" class="nav-link active"
                                style="color: #009FBD;">Projects</a></li>
      <li class="nav-item"><a href="{{ url_for('blog') }}" class="nav-link"
                                style="color: #F9E2AF;">Blog</a></li>
    </ul>
  </header>
</div>

<div class="container px-4 py-5" id="custom-cards">
  <h1 class="pb-2"><strong>Projects</strong></h1>

  <div class="card-deck g-4 py-5">
    <div class="card">
      <a href="https://github.com/Dooques/achievement_collector" target="_blank">
        <img src="static/img/flight_tracker.png" class="card-img-top"
             alt="Plane taking off.">
      </a>
      <div class="card-body">
        <h2 class="project-title display-6 lh-1 fw-bold">Discount Flight Finder</h2>
        <p>Find discount flights from across the world.</p>
        <p><strong>Tools Used:</strong></p>
        <p>Requests, Twilio, Sheety API, Tequila API</p>
      </div>
      <div class="card-footer">
        <ul class="d-flex align-self-end list-unstyled mt-auto">
            <li class="me-auto">
              <img src="static/img/github.png" alt="Bootstrap" width="32" height="32"
                   class="rounded-circle border border-white">
              <a href="https://github.com/Dooques/Flight-Tracker"
                 target="_blank">
                <strong>GitHub</strong></a>
            </li>
          </ul>
        </div>
    </div>

    <div class="card">
      <a href="https://github.com/Dooques/Pomodoro-project" target="_blank">
        <img src="static/img/pomodoro_timer.png" class="card-img-top"
             alt="Tomato Clock">
      </a>
      <div class="card-body">
        <h2 class="project-title display-6 lh-1 fw-bold">Pomodoro Timer</h2>
        <p>Use this to keep your study and working sessions more efficient.</p>
        <p><strong>Tools Used:</strong></p>
        <p>Tkinter, PyGame, Math</p>
      </div>
      <div class="card-footer">
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="static/img/github.png" alt="Bootstrap" width="32" height="32"
                   class="rounded-circle border border-white">
              <a href="https://github.com/Dooques/Pomodoro-Project"
                 target="_blank">
                <strong>GitHub</strong></a>
            </li>
          </ul>
          </div>
    </div>

    <div class="card">
      <a href="{{ url_for('achievement_collector')}}" target="_blank">
        <img src="static/img/achievement_collector.png" class="card-img-top"
             alt="Desk with gaming system and trophies.">
      </a>
      <div class="card-body">
        <h2 class="project-title display-6 lh-1 fw-bold">Achievement Collector</h2>
        <p>Collect all your achievements and trophies across consoles in one place.</p>
        <p><strong>Tools Used:</strong></p>
        <p>Steam Web API, SQL, Flask, Bootstrap, Requests, ElementTree</p>
      </div>
      <div class="card-footer">
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="static/img/github.png" alt="Bootstrap" width="32" height="32"
                   class="rounded-circle border border-white">
              <a href="https://github.com/Dooques/achievement_collector"
                 target="_blank">
                <strong>GitHub</strong></a>
            </li>
          </ul>
      </div>
    </div>

    <div class="card">
      <a href="https://github.com/Dooques/achievement_collector" target="_blank">
        <img src="static/img/morse_converter.png" class="card-img-top" alt="Morse Code Machine">
      </a>
      <div class="card-body">
        <div class="card-title">
          <h2 class="project-title display-6 lh-1 fw-bold">Morse Converter</h2>
          <p>Convert text to morse code and vice versa.</p>
          <p><strong>Tools Used:</strong></p>
        <p>Pandas, Flask, Bootstrap</p>
        </div>
      </div>
      <div class="card-footer">
        <ul class="d-flex list-unstyled mt-auto">
          <li class="me-auto">
            <img src="static/img/github.png" alt="Bootstrap" width="32" height="32"
                 class="rounded-circle border border-white">
            <a href="https://github.com/Dooques/Morse-Conversion"
               target="_blank">
              <strong>GitHub</strong></a>
          </li>
        </ul>
      </div>
    </div>

    <div class="card">
      <a href="https://github.com/Dooques/tic-tac-toe" target="_blank">
        <img src="static/img/pc_gaming.png" class="card-img-top"
           alt="Two People enjoying a video game">
      </a>
      <div class="card-body">
        <h2 class="project-title display-6 lh-1 fw-bold">Noughts and Crosses</h2>
        <p>Play Noughts and Crosses in the command line of your IDE.</p>
        <p><strong>Tools Used:</strong></p>
        <p>NumPy</p>
      </div>
      <div class="card-footer">
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="static/img/github.png" alt="Bootstrap" width="32" height="32"
                   class="rounded-circle border border-white">
              <a href="https://github.com/Dooques/tic-tac-toe"
                 target="_blank">
                <strong>GitHub</strong></a>
            </li>
          </ul>
          </div>
    </div>

    <div class="card">
      <a href="https://github.com/Dooques/watermarking_app" target="_blank">
        <img src="static/img/photo_editor.png" class="card-img-top"
             alt="A person editing an image on a computer">
      </a>
      <div class="card-body">
        <h2 class="project-title display-6 lh-1 fw-bold">Watermarking Application</h2>
        <p>This application will leave your brand's name on an image for advertisement purposes.</p>
        <p><strong>Tools Used:</strong></p>
        <p>Tkinter, Pillow</p>
        <a class="project-download"
           href="{{ url_for('download_watermark') }}">Download Installer</a>

      </div>
      <div class="card-footer">
        <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="static/img/github.png" alt="Bootstrap" width="32" height="32"
                   class="rounded-circle border border-white">
              <a href="https://github.com/Dooques/watermarking_app"
                 target="_blank">
                <strong>GitHub</strong></a>
            </li>
          </ul>
          </div>
    </div>

  </div>
</div>
{% include 'footer.html' %}